# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Project Specific - Large Data
ingestion/staging_memory/
ingestion/staging_data/
ingestion/reference_tools/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
